/* Color Themes ---------------------------------------- */

:root {
    /* Default color theme */
    --color-one: cyan;
    --color-two: yellow;
    --color-three: red;
    --color-four: black;
    --color-five: white;
    --color-six: #0E3D3F;
}

.soft-colors {
    /* Theme override. Add this class to <body> */
    /* TODO: Consider adding more themes */
    --color-one: #00E0E0;
    --color-two: #C3FF00;
    --color-three: #FF2F5A;
    --color-four: #121417;
    --color-five: #E8E8E8;
    --color-six: #111E21;
}

/* Static HTML tags ------------------------------------ */

body {
    background-color: var(--color-four);
    color: var(--color-five);
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

/* --- */

header {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: var(--color-two)
}

/* --- */

#value-display {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--color-one);
}

output {
  color: var(--color-five);
}

.pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .1em
}

/* --- */

#game-container {
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(2px);

  z-index: 10;
  transition: opacity .3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#how-to-play {
  text-align: center;
}

/* --- */

#new-game {
  display: flex;
  flex-direction: row;
}

button {
  background-color: var(--color-four);
  color: var(--color-two);
  margin: 1em 1em 0 0; /* improve layout later with flex */
  padding: 0.25em;
  /* Understand why <button> does not get font from <body> */
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

/* Basic board ----------------------------------------- */

#board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-four);
  width: 100%;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cell {
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-one);
  border-radius: 3px;
  margin: 0.25em;
  padding: 0.25em;
  background-color: var(--color-four);
}

@keyframes pulse-background {
  0%   { background-color: var(--color-four); }
  5%   { background-color: var(--color-two); }
  100% { background-color: var(--color-four); }
}

/* Cell states ----------------------------------------- */

.unknown:hover {
  /* use a variable for animation speed to modulate it */
  animation: pulse-background .75s infinite;
}

.contained {
  background-color: var(--color-one);
}

.analyzed {
  background-color: var(--color-six);
  border: none;
}

.risk-low {
  color: var(--color-one);
}

.risk-medium {
  color: var(--color-two);
}


.risk-high {
  color: var(--color-three);
}

.infected {
  background-color: var(--color-three);
  border: none;
}