.cell {
    aspect-ratio: 1;
    border: 2px solid;
    border-color: transparent;
    border-radius: 15%;
    transition: border-color 1s ease, color 1s ease, background-color 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unknown {
    border-color: var(--col-unknown-border);
}

.analyzed {
    color: var(--col-font);
    background-color: var(--col-analyzed)
}

.med-risk {
    color: var(--col-font-header)
}

.high-risk {
    color: var(--col-infected)
}

.contained {
    background-color: var(--col-contained);
}

.infected {
    background-color: var(--col-infected)
}