.container {
  position: relative;
}

.base {
  background: lightblue;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: rgba(18, 20, 23, 0.9);
  color: var(--col-font);

  opacity: 0;               
  transition: opacity 2s ease; 
  pointer-events: none;     
}

.overlay.visible {
  opacity: 1;               
  pointer-events: auto;     
}

.overlay button {
  background-color: var(--col-contained);
  margin: 15px;  
  padding: 15px;
  border: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}