:root {
  --col-font: #E8E8E8;
  /*--col-font: #00E0E0;*/
  --col-font-header: #C3FF00;
  --col-background: #121417;
  --col-unknown-border: #00E0E0;
  --col-analyzed: #111E21;
  --col-contained: #00E0E0;
  --col-infected: #FF2F5A;
}

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--col-background);

  /* TODO: Refine layout */
  display: flex;
  place-items: center;
  margin: 0;
}